<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ title }}</title>
    <link data-asset-hash href="/css/styles.css" rel="stylesheet" />
  </head>
  <body>
    <main id="main">
      {% section %}
      <div class="hero">
        <h1>{{ title }}</h1>
      </div>
      {{ content | safe }} {% endsection %}
    </main>
    <footer>{% include "signup.html" %}</footer>
    <script data-asset-hash src="/js/index.js"></script>
  </body>
</html>
