details.show {
  border-radius: var(--space-xs-s);
  padding: var(--space-s-m);
  background-color: var(--color-teal-light);
}

details.show summary {
  font-size: var(--step-1);
  font-weight: bold;
}
details.show:open::details-content {
  border-top: 4px var(--color-teal) solid;
  padding-block-start: var(--space-s);
}
