*:focus-visible {
  outline: 10px solid var(--color-yellow);
  outline-offset: 0.25rem;
  border-radius: 0.125rem;
}

body {
  --color-fg: var(--color-teal);
  color: var(--color-fg);
  background-color: var(--color-bg);
  overflow-wrap: anywhere;
}

.cont {
  width: 100vw;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-m-l);
}

.inner {
  max-width: 75ch;
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.hero {
  padding-block: var(--space-xl-2xl) var(--space-2xl-3xl);
}

.inner h1 {
  font-size: var(--step-6-8);
  max-width: 10ch;
}

.inner p {
  font-size: var(--step-1);
}

.smol {
  font-size: var(--step-0);
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--space-s);
  max-width: 100%;
}

button {
  font-size: var(--step-1);
  color: var(--color-light);
  background-color: var(--color-teal);
  padding: var(--space-xs);
  border: 3px solid var(--color-teal);
  cursor: pointer;
  font-weight: 500;
  border-radius: 5px;
}

.input-label-pair {
  display: flex;
  flex-direction: column;
  gap: var(--space-3xs);
}

label {
  font-size: var(--step-0);
}

input {
  font-size: var(--step-1);
  padding: var(--space-xs);
  color: var(--color-fg);
  padding: var(--space-xs);
  border: 3px solid var(--color-teal);
  border-radius: 5px;
  font-weight: 500;
}

button:focus {
  background-color: var(--color-light);
  color: var(--color-teal);
}
