body {
  --color-fg: var(--color-teal);
  // --color-bg: var(--color-teal);
  // --color-bg: var(--color-blue);
  color: var(--color-fg);
  background-color: var(--color-bg);
  overflow-wrap: anywhere;
}

.cont {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-m-l);
}

.inner {
  max-width: 75ch;
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  padding-block-end: var(--space-3xl);
}

.inner h1 {
  font-size: var(--step-6-8);
}

.inner p {
  font-size: var(--step-1);
}
