// typography
@use "fluentEmojiFlat";

html {
  color: var(--color-fg);
  background-color: var(--color-bg);
  font-family: system-ui, sans-serif, "Fluent Emoji Color";
  font-weight: normal;
  line-height: var(--line-height-0);
}

h1 {
  font-size: var(--step-4);
  line-height: var(--line-height-4);
}

h2 {
  font-size: var(--step-3);
  line-height: var(--line-height-3);
}

h3 {
  font-size: var(--step-2);
  line-height: var(--line-height-2);
}

h4,
h5,
h6 {
  font-size: var(--step-1);
  line-height: var(--line-height-1);
}

p {
  font-size: var(--step-0);
}

small {
  font-size: var(--step--1);
  line-height: var(--line-height--1);
}
