// typography

html {
  color: var(--color-fg);
  background-color: var(--color-bg);
  font-family: system-ui, sans-serif;
  font-weight: normal;
  line-height: var(--line-height-0);
}

h1 {
  font-size: var(--step-4);
  line-height: var(--line-height-4);
}

h2 {
  font-size: var(--step-3);
  line-height: var(--line-height-3);
}

h3 {
  font-size: var(--step-2);
  line-height: var(--line-height-2);
}

h4,
h5,
h6 {
  font-size: var(--step-1);
  line-height: var(--line-height-1);
}

p {
  font-size: var(--step-0);
}

small {
  font-size: var(--step--1);
  line-height: var(--line-height--1);
}

// utils

.fw200 {
  font-weight: 200;
}
.fw250 {
  font-weight: 250;
}
.fw300 {
  font-weight: 300;
}
.fw350 {
  font-weight: 350;
}
.fw400 {
  font-weight: 400;
}
.fw450 {
  font-weight: 450;
}
.fw500 {
  font-weight: 500;
}
.fw550 {
  font-weight: 550;
}
.fw600 {
  font-weight: 600;
}
.fw650 {
  font-weight: 650;
}
.fw700 {
  font-weight: 700;
}
.fw750 {
  font-weight: 750;
}
.fw800 {
  font-weight: 800;
}
.fw850 {
  font-weight: 850;
}
