backend:
  name: github
  repo: breathe-easy-events/sheffield.breathe-easy.uk
  branch: links-page-from-data
  preview_context: "cloudflare preview deploy"
site_url: https://sheffield.breathe-easy.uk
media_folder: "src/static/img"
public_folder: "/static/img"
publish_mode: editorial_workflow
collections:
  - label: "Home"
    name: "home"
    folder: "src"
    create: false
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Body", name: "body", widget: "markdown" }
  - label: "Unique Pages"
    name: "unique Pages"
    files:
      - label: "Links"
        name: "links"
        file: "src/_data/links.json"
        fields:
          - label: "Links"
            name: "links"
            fields:
              - { label: "Text", name: "text", widget: "string" }
              - { label: "URL", name: "url", widget: "string" }
  - label: "Pages"
    name: "pages"
    folder: "src/pages"
    create: true
    fields:
      - {
          label: "Title",
          name: "title",
          widget: "string",
          hint: "This will be converted to a slug eg. 'About Us' to 'about-us' which will be used in the URL",
        }
      - {
          label: "Menu item",
          name: "menu",
          widget: "boolean",
          default: false,
          hint: "Should this page be linked to from the navigation at the top of every page?",
        }
      - {
          label: "Menu name",
          name: "menuName",
          widget: "string",
          hint: "Disaply name for menu item, if not supplied title will be used",
          required: false,
        }
      - {
          label: "Layout",
          name: "layout",
          widget: "select",
          options:
            [
              { label: "Defualt", value: "PageLayout.11ty.tsx" },
              { label: "With index", value: "ResourceLayout.11ty.tsx" },
            ],
        }
      - {
          label: "Discription",
          name: "discription",
          widget: "text",
          hint: "Metadata for previews on social media and search engines, aim for between 50 - 150 characters",
          pattern: ["^.{25,200}$", "Must be between 25 and 200 characters"],
          required: false,
        }
      - {
          label: "Social image",
          name: "socialImage",
          hint: "Image for previews on social media and search engines, should be 1200x630px, will be ignored if no alt text is provided",
          widget: "image",
          choose_url: false,
          required: false,
        }
      - {
          label: "Social image alt text",
          name: "socialImageAlt",
          widget: "text",
          hint: "Alt text describing preview image for screen readers",
          pattern: ["^.{25,}$", "Must be atleast 25 characters"],
          required: false,
        }
      - { label: "Body", name: "body", widget: "markdown" }
